pipeline/dimCalendar_main.json
{
	"name": "dimCalendar_main",
	"properties": {
		"activities": [
			{
				"name": "StartBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[job].[sp_BatchStart]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							},
							"jobName": {
								"type": "String",
								"value": "dimCalendar"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimCalender_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimCalendar_publish]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimCalender_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Post Process",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimCalendar_postprocess]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimCalender_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Assign batch id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchId",
					"value": {
						"value": "@activity('StartBatch').output.firstRow.batchId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign Batch Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Assign batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchId",
							"value": {
								"type": "Expression",
								"content": "@variables('batchId')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "rowBatchKey",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "datekey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "dateKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "year",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "monthNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "monthNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "monthName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "monthName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YYYY-MM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "YYYYMM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "week",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "week",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "yearWeek",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "yearWeek",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"sink": {
									"name": "rowBatchKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"sink": {
									"name": "dateCreated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dimCalendar_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dimCalender_nem",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "End Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Post Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchEnd]"
				},
				"linkedServiceName": {
					"referenceName": "NEM_D",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"batchId": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}