pipeline/dimProduct_main.json
{
	"name": "dimProduct_main",
	"properties": {
		"activities": [
			{
				"name": "StartBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[job].[sp_BatchStart]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchID')",
									"type": "Expression"
								}
							},
							"jobName": {
								"type": "String",
								"value": "HELLO WORLD"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProducts_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AssignBatchID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchID",
					"value": {
						"value": "@activity('StartBatch').output.firstRow.batchId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign Batch Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AssignBatchID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchId",
							"value": {
								"type": "Expression",
								"content": "@variables('batchID')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AssignBatchID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "data.products"
					},
					{
						"name": "Destination",
						"value": "h3.dimProduct_stg"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "rowBatchKey",
								"value": {
									"value": "@variables('batchID')",
									"type": "Expression"
								}
							},
							{
								"name": "rowCreated",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "rowBatchKey",
									"type": "String"
								},
								"sink": {
									"name": "rowBatchKey",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dimProducts_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dimProducts_nem",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimProduct_publish]",
						"storedProcedureParameters": {
							"batchID": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProducts_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Post Process",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimProduct_postprocess]",
						"storedProcedureParameters": {
							"batchID": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProducts_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Post Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchEnd]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@variables('batchID')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NEM_D",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"batchID": {
				"type": "Integer"
			},
			"rowKey": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}