pipeline/dimProduct_sub.json
{
	"name": "dimProduct_sub",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "dimProduct_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Batch Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchFail]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.batchID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NEM_D",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FAIL",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Batch Fail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat(pipeline().Pipeline, 'Fatal')",
						"type": "Expression"
					},
					"errorCode": "501"
				}
			}
		],
		"annotations": []
	}
}