pipeline/dimStore_sub.json
{
	"name": "dimStore_sub",
	"properties": {
		"activities": [
			{
				"name": "Assign Batch id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchid",
					"value": {
						"value": "@activity('Start Batch').output.firstRow.batchid",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign Batch output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Assign Batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchid",
							"value": {
								"type": "Expression",
								"content": "@variables('batchid')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Start Batch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[job].[sp_BatchStart]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimStores_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimStore_publish]",
						"storedProcedureParameters": {
							"BatchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchid')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimStores_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Post Process",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[dimStore_postprocess]",
						"storedProcedureParameters": {
							"BatchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchid')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimStores_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign Batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": {
							"type": "Expression",
							"value": "@variables('batchid')"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dimStores_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dimStores_nem",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "End Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Post Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchEnd]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@variables('batchid')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NEM_D",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"batchid": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}