pipeline/factSales.json
{
	"name": "factSales",
	"properties": {
		"activities": [
			{
				"name": "StartBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[job].[sp_BatchStart]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							},
							"jobName": {
								"type": "String",
								"value": "fact Inventory"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "factSales_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Assign batchId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchId",
					"value": {
						"value": "@activity('StartBatch').output.firstRow.batchId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign batch output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Assign batchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchId",
							"value": {
								"type": "Expression",
								"content": "@variables('batchId')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign batchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "rowBatchKey",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							},
							{
								"name": "rowCreated",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "receipt",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "receipt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "idStore",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "idStore",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "idProduct",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "idProduct",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "unitsSold",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "unitsSold",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "rowBatchKey",
									"type": "String"
								},
								"sink": {
									"name": "rowBatchKey",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "factSales_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "factSales_nem",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[factInventory_publish]",
						"storedProcedureParameters": {
							"BatchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "factSales_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PostProcess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h3].[factSales_postprocess]",
						"storedProcedureParameters": {
							"BatchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "factSales_nem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PostProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchEnd]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@variables('batchId')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NEM_D",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"batchId": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}